*.pyc
*.class
*.swp
*.o
*.log
*.un~

*.ctxt
*.cbin
context.*log
context.spec
version.*
context/viewer/data.py

pyinstaller-*/
build/
dist/
context-*
images/*-icon.*
!images/*-icon.svg
images/*-name.*
!images/*-name.svg
/com.bat
